/* Stuff added by Rich */
.member-name {
    font-size:18px;
    font-weight:500;
    letter-spacing:2px;
    line-height: 1.2;
}

.member-role {
  color: #a67c52;
  font-weight: 400;
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 2px;
}

.half-center {
  width: 50%;
  text-align:center;
}

audio {
  display: block; /* Allows better layout control */
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 10px;
}
